#!/usr/bin/env zsh
# -*-zsh-*- vim:ft=zsh

# navigation
if type z &> /dev/null; then 
	alias ..="z .."
	alias ...="z ../.."
	alias ....="z ../../.."
	alias .....="z ../../../.."
	alias -- -="z -"

	alias dl="z ~/Downloads"
	alias dt="z ~/Desktop"
else
	alias ..="cd .."
	alias ...="cd ../.."
	alias ....="cd ../../.."
	alias .....="cd ../../../.."
	alias -- -="cd -"
	
	alias dl="cd ~/Downloads"
	alias dt="cd ~/Desktop"
fi

# listing
if ls --color > /dev/null 2>&1; then
    colorflag="--color"
else
    colorflag="-G"
fi

if type exa &> /dev/null; then
	alias l="exa -aF --git --icons --sort=type --color=always"
	alias ll="exa -aFhl --git --icons --sort=type --color=always"
	alias lsd="exa -aDF --git --icons --sort=type --color=always"
else
	alias l="ls -AF ${colorflag}"
	alias ll="ls -AFhl ${colorflag}"
	alias lsd="ls -AF ${colorflag} | grep --color=never '^d'"
fi

alias ls="command ls ${colorflag}"

# network
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "${method}"="lwp-request -m '${method}'"
done

# system
alias :q="exit"
alias reload="exec ${SHELL} -l"
alias path="echo -e ${PATH//:/\\n}"
alias deq="xattr -r -d com.apple.quarantine"
alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles --work-tree=$HOME"
alias update="brew update --quiet; brew upgrade --quiet; v up -prod; rustup update; pnpm update -g; npm install -g npm; npm update -g; znap pull"
alias freshen="update; cleanup -a; echo '\nPress y to reload\n'; read -q && echo && reload"
alias c="tr -d '\n' | pbcopy"

# misc
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

alias flac2mp3="mkdir -p mp3 && fd . -e flac -x ffmpeg -stats -i {} -b:a 320k -map_metadata 0 -id3v2_version 3 mp3/{/}.mp3"
alias wav2mp3="mkdir -p mp3 && fd . -e wav -x ffmpeg -stats -i {} -vn -ar 44100 -ac 2 -b:a 320k -map_metadata 0 -id3v2_version 3 mp3/{/}.mp3"

alias fistory="history | fzf"

# :o
alias cargo="cargo mommy"

