# -*-zsh-*- vim:ft=zsh

# paths
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

export npm_config_userconfig="$XDG_CONFIG_HOME/npmrc"
export YARN_CACHE_FOLDER="$XDG_CACHE_HOME/yarn"
export YARN_GLOBAL_FOLDER="$XDG_DATA_HOME/yarn"
export RUSTUP_HOME="$XDG_DATA_HOME/rustup"
export CARGO_HOME="$XDG_DATA_HOME/cargo"
export GOPATH="$XDG_DATA_HOME/go"
export WGETRC="$XDG_CONFIG_HOME/wgetrc"
export NODE_REPL_HISTORY="$XDG_DATA_HOME/node_repl_history"
export PNPM_HOME="$XDG_DATA_HOME/pnpm"
export PATH="$PATH:$HOME/.local/bin:$PNPM_HOME"

# brew
if hash brew 2>/dev/null; then
  fpath=("$(brew --prefix)/share/zsh/site-functions" $fpath)
fi

# disable analytics
export DOTNET_CLI_TELEMETRY_OPTOUT=1;
export HOMEBREW_NO_ANALYTICS=1;
export POWERSHELL_TELEMETRY_OPTOUT=1;
export VCPKG_DISABLE_METRICS=1;

# shell
export EDITOR="nvim"
export HYPHEN_INSENSITIVE="true";
export ENABLE_CORRECTION="true";
export COMPLETION_WAITING_DOTS="true";
export ZSH_AUTOSUGGEST_USE_ASYNC="true";
export LC_ALL=en_GB.UTF-8;
export LANG=en_GB.UTF-8;
export GPG_TTY=$(tty);
export LS_COLORS="$(vivid generate catppuccin-mocha)"
export LESSOPEN="|/opt/homebrew/bin/lesspipe.sh %s"

# history
export HIST_STAMPS="dd/mm/yyyy";
export HISTSIZE="100000";
export HISTFILESIZE="${HISTSIZE}";
export HISTCONTROL="ignoreboth";

# node
export NODE_REPL_HISTORY_SIZE="100000";
export NODE_REPL_MODE="sloppy";

# python
export PYTHONIOENCODING="UTF-8";

# bat
export BAT_THEME="Catppuccin-mocha"
export MANPAGER="sh -c 'col -bx | bat -l man -p'"

# fzf
export FZF_DEFAULT_COMMAND="fd --type f --strip-cwd-prefix --hidden --follow --exclude .git"
export FZF_DEFAULT_OPTS="
  --color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 
  --color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc 
  --color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_CTRL_T_OPTS="
  $FZF_DEFAULT_OPTS
  --preview 'bat -n --color=always --line-range=:500 {}' 
  --bind 'ctrl-/:change-preview-window(down|hidden|)'"
export FZF_CTRL_R_OPTS="
  --preview 'echo {}' --preview-window up:3:hidden:wrap
  --bind 'ctrl-/:toggle-preview'
  --bind 'ctrl-y:execute-silent(echo -n {2..} | pbcopy)+abort'
  --color header:italic
  --header 'Press CTRL-Y to copy command into clipboard'"
export FZF_ALT_C_OPTS="
  $FZF_DEFAULT_OPTS
  --preview 'tree -C {}'"

