#!/usr/bin/env bash

export LC_ALL=en_GB.UTF-8
export LANG=en_GB.UTF-8

if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='nvim'
else
  export EDITOR='nvim'
fi

export NODE_REPL_HISTORY=~/.node_history;
export NODE_REPL_HISTORY_SIZE='32768';
export NODE_REPL_MODE='sloppy';

export PYTHONIOENCODING='UTF-8';

export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
export HISTCONTROL='ignoreboth';

export LESS_TERMCAP_md="${yellow}";

export MANPAGER='less -X';

export GPG_TTY=$(tty);

export BASH_SILENCE_DEPRECATION_WARNING=1;

export DOTNET_CLI_TELEMETRY_OPTOUT=1
export HOMEBREW_NO_ANALYTICS=1
export POWERSHELL_TELEMETRY_OPTOUT=1
export VCPKG_DISABLE_METRICS=1

export PATH="/opt/homebrew/opt/binutils/bin:$PATH"

# fzf configs
if hash fzf 2>/dev/null; then
  # catppuccin mocha colors
  export FZF_DEFAULT_OPTS=" \
    --color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
    --color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
    --color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"

  if hash fd 2>/dev/null; then
    export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow'

    _fzf_compgen_path() {
      fd --hidden --follow . "$1"
    }

    _fzf_compgen_dir() {
      fd --type d --hidden --follow . "$1"
    }

    export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
  fi
fi

hash bat 2>/dev/null && export MANPAGER="sh -c 'col -bx | bat -l man -p'"
