[submodule ".config/alacritty/catppuccin"]
	path = .config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule ".config/bat/themes"]
	path = .config/bat/themes
	url = https://github.com/catppuccin/bat.git
[submodule ".nano"]
	path = .nano
	url = https://github.com/scopatz/nanorc.git
[submodule ".config/btop/themes"]
	path = .config/btop/themes
	url = https://github.com/catppuccin/btop.git
